@model CaBlog.Models.THELOAI

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section title{
    Thể Loại
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.ngaytao, new { Value = DateTime.Now })
        
        <div class="form-group">
            <label class="control-label col-md-2">Tên thể loại</label>            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ten, new { @class = "form-control", placeholder = "Nhập tên thể loại"})
                @Html.ValidationMessageFor(model => model.ten)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Tạo</button>
                <a role="button" class="btn btn-info" href="@Url.Action("Index","Theloai")">Hủy</a>
            </div>
        </div>
    </div>    
   
}