@model CaBlog.Models.THELOAI

@{
    ViewBag.Title = "Xem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section title{
    Thể Loại
}

<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tên")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayName("Ngày Tạo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
